body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color:rgb(18, 128, 64);
    --grayText:#666666
}
.menuHeroDescription{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}
.menuHeroDescription .backgroung img{
    border-radius:10%;
    margin: 17% auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);

}
.menuHeroDescription .description{
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 20px; 
    text-align: left; 
    margin-top: -8%;
}

 .menuHeroDescription .description h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 69px;
} 
.menuHeroDescription .description h1 span{
    color: var(--color);
}
 .menuHeroDescription .description p {
    width: 86%;
    margin: 7% auto;
    font-size: 17px;
    line-height: 30px;
 }
 .menuHeroDescription .description button {
    width: 50%;
    margin: 0 6%;
    padding: 15px 20px;
    font-size: 15px;
    color: white;
    background-color: #218240;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
 }
 .menuHeroDescription .description button:hover{
    transform: scale(1.02); 
    transition: 0.3s;
    background-color: rgba(18, 128, 64, 0.691);
 }
 .MenuCardSectionBreakFast,.MenuCardSectionLunch,.MenuCardSectionDinner{
    position: relative;
    height: 1240px;
    overflow: hidden;
    transition: 0.5s ease;
 }
.allCards{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.card{
    display: flex;
    width: 40%;
    box-shadow: 0px 2px 10px #0000009c;
    border-radius: 10px; 
    margin-left: 0%; 
    position: relative;
    gap: 20px;
}
.insideCard{
    padding: 14px;
}
.insideCard h2{
    font-size: 30px;
    position: absolute;
    top: 0px;
}
.categorie{
    font-size: 12px; 
    color: #666666; 
    position: absolute; 
    top: 54px; 
    padding-left: 2px;
}
.descriptionPlate{
    line-height: 32px; 
    font-size: 14px; 
    position: absolute; 
    top: 80px; 
    padding: 2px 30px 2px 2px;
}
.card button {
    width: 225px;
    padding: 3% 12%;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #218140;
    color: white;
    position: absolute;
    bottom: 17px;
    border-radius: 10px;
    right: 6%;
}
.MenuCardSectionBreakFast h1,.MenuCardSectionLunch h1, .MenuCardSectionDinner h1{
    font-size: 60px;
    text-align: center;
}
.MenuCardSectionBreakFast h3 , .MenuCardSectionLunch h3 ,.MenuCardSectionDinner h3{
    text-align: center;
    margin-top: -2%;
    color: var(--grayText);
}

.MenuCardSectionBreakFast .plateBtn button ,.MenuCardSectionLunch .plateBtn button,.MenuCardSectionDinner .plateBtn button{
    padding: 20px 5%;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #218140;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    left: 42%;    
}
.MenuCardSectionBreakFast .plateBtn button:hover{
    transform: scale(1.02); 
    transition: 0.3s;
    background-color: rgba(18, 128, 64, 0.691);
}

@media (max-width:1200px){
    .menuHeroDescription .backgroung img{
        width: 400px;
        height: 300px;
        margin-top: 27%;
    }
    .menuHeroDescription .description h1{
        font-size: 60px;
    }
    .menuHeroDescription .description p{
        font-size: 16px;
    }
    .card{
        width: 50%;
    }
    .card img{
        width: 50%;
    }
    .card button{
        width: 42%;
    }
    .insideCard{
        width:50%;
    }
    .descriptionPlate{
        top: 70px;
    }

    .MenuCardSectionBreakFast,.MenuCardSectionLunch,.MenuCardSectionDinner{
        height: 1330px;
        
    }
    .allCards{
        flex-direction: column;
        align-items: center;
        gap: 230px;
        margin-top: 15%;
    }


}

@media (max-width: 967px){

   

    .menuHeroDescription .backgroung img{
        width: 330px;
        height: 230px;
        margin: 51% 0 0 5%;
    }
    .menuHeroDescription .description h1{
        font-size: 40px;
    }
    .menuHeroDescription .description p{
        font-size: 13px;
    }


    .insideCard h2{
        font-size: 25px;
    }
     .descriptionPlate{
        font-size: 11px;
        top: 82px;
    }
    .categorie{
        font-size: 10px;
    }
    .card{
        width: 60%;
    }
    .MenuCardSectionBreakFast,.MenuCardSectionLunch,.MenuCardSectionDinner{
        height:1300px;
        
    }



}

@media (max-width: 768px) { 
    .menuHeroDescription {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        margin-bottom: 20%;
    }
    .menuHeroDescription .backgroung img{
        margin-top: 12%;
        width: 500px;
        width: 400px;
    }
    .menuHeroDescription .description h1{
        font-size: 45px;

    }
    .menuHeroDescription .description{
        width: 80%;
        text-align: center;
        align-items: center;
    }
    .menuHeroDescription .description p{
        font-size: 12px;
    }
    .MenuCardSectionBreakFast,.MenuCardSectionLunch,.MenuCardSectionDinner{
        height:1280px;
        
    }
}

@media (max-width: 676px){
    .MenuCardSectionBreakFast,.MenuCardSectionLunch,.MenuCardSectionDinner{
        height:auto;
        overflow: visible;
        
    }
    .card{
        width: 80%;
    }
    .MenuCardSectionBreakFast .plateBtn button ,.MenuCardSectionLunch .plateBtn button,.MenuCardSectionDinner .plateBtn button{
        display: none;
    }
    .allCards{
        gap: 60px;
    }
    .MenuCardSectionBreakFast h1{
        font-size: 50px;
    }
    .MenuCardSectionBreakFast h3{
        font-size: 18px;
    }
    .card h2{
        font-size: 20px;
    }

}

@media (max-width: 425px){
    .menuHeroDescription .backgroung img{
        margin-top: 12%;
        width: 300px;
        height: 200px;
        margin-left: 0;
    }
    .menuHeroDescription .description h1{
        font-size: 40px;

    }
    .menuHeroDescription .description{
        width: 80%;
        text-align: center;
        align-items: center;
    }
    .menuHeroDescription .description p{
        font-size: 10px;
    }
    .menuHeroDescription{
        margin-bottom: 40%;

    }
    .card{
        width: 90%;
    }
    .insideCard .descriptionPlate{
        font-size: 10px;
        top: 75px;
    }
}