body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color:rgb(18, 128, 64);
    --grayText:#666666
}

footer .footer,.listFooter,.list{
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}
nav img{
    display: none;
}

.logo{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 30px;
    color: var(--color);
    cursor: pointer;
}
.list{
    width: 70%;
    margin-left: -300px;
    margin-top: 32px;
    z-index: 1;
}
.list li{
    list-style-type: none;
}
.list li  a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--color);
    letter-spacing: 2px;
    padding: 7px 20px;
    border-radius: 7px;
    margin-left:10px;
    transition: 0.5s;
}
.list li a:hover{
    background-color: var(--color);
    color: white;
    
}

footer{
    width: 100%;
    height: 70vh;
    margin-top: 30%;
    background-color: #eee;
    border-radius: 40px;
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url(./Public/view-coriander-bundle-wooden-cutting-board-right-side-green-black-mixed-colors-table-with-free-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply; 
  }
  footer .footer{
    width: 90%;
    background-color: white;
    margin: -5% auto;
    align-content: center;
    height: 50vh;
    border-radius: 30px;
    position: absolute;
    left: 5%;
    top: -10%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding-top: 5%;
  }
.listFooter{
    gap: 50px;
  }
.listFooter li{
    list-style-type: none;
}
.listFooter li a{
    text-decoration: none;
    color: black;
}
.ContactContainer{
    margin-top: 16%;
    margin-left: 10%;
}
#ContactLabel{
    font-size: 24px; 
}
#Contact{
    width: 300px;
    padding: 3% 7%;
    border: 2px solid rgba(18, 128, 64) ;
    outline: rgba(18, 128, 64, 0.691);
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
}
footer button{
    width: 355px;
    margin-top: 6%;
    padding: 15px 35px;
    background-color: var(--color);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
footer button:hover{
    transform: scale(1.02); 
    transition: 0.3s;
    background-color: rgba(18, 128, 64, 0.691);
}
.socialMedia{
    width: 60%;
    margin-top: 11%;
}
.copyWrite{
    font-size: 14px;
    margin-top: 12%;
    color: var(--grayText);
}
@media (max-width: 1200px) { 
    /*----------- footer----------- */
    footer .footer{
        height: 60vh;
        padding-top: 2%;
    }
    footer .footer h1{
        margin-top: 2%;
    }
    #Contact{
        width: 200px;
    }
    footer button{
        width: 255px;
    }
    /*----------- footer----------- */
}

@media (max-width: 963px) { 
    .list{
        width: 60%;
        margin-right: 10%;
    }
    footer .footer{
        padding: 4%;
        width: 80%;
        height: 40vh;
        margin-left: 1%
    }
    footer .footer h1{
        font-size: 22px;
    }
    .listFooter{
        gap: 30px;
      }
      .footer p{
        width: 80%;
      }

}

@media (max-width: 768px) { 
    nav{
        position: relative;
    }
    nav img{
        display: block;
        padding: 4%;
        z-index: 2;
        cursor: pointer;

    }
    .list{
        display: none;
        z-index: 1;
        line-height: 50px;
        width: 100px;
        height: 210px;
        background-color: white;
        padding-right: 65px;
        position: absolute;
        right: 1%;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }
    footer .footer{
        width: 90%;
        height: 60vh;
        left: 0%;
    }
    .footer p{
        margin-top: 20%;
    }
    .socialMedia,.copyWrite{
        margin-top: 30%;
    }
    .ContactContainer{
        margin-top: 36%;
    }
}

@media (max-width: 425px){
    .ContactContainer{
        display: none;
    }
    .listFooter{
        display: block;
        line-height: 60px;
    }
    .socialMedia,.copyWrite{
        margin-top: 20%;
    }

}