html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color:rgb(18, 128, 64);
    --grayText:#666666
}

.divOfIcon,.foodItems,.secondItem,.socialMedia{   /* group of flexed between items */
    display: flex;
    justify-content: space-between;

}

.menuSection,.item,.slides{ /* group of flexed around items */
    display: flex;
    justify-content: space-around;
}


.HeroSection {
    position: relative;
    width: 100%;
    height: 100vh; /* better than height="90%" */
}

.HeroSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HeroSection .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 39, 39, 0.6); 
}
.HeroDescription{
    position: absolute;
    width: 50%;
    top: 20%;
    left: 27%;
    color: white;
    text-align: center;
}
.HeroDescription h1{
    font-size: 65px;
}
.HeroDescription p{
    width: 650px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.HeroDescription button,.menuButton button,footer button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: var(--color);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}
.HeroDescription button:hover,.menuButton button:hover,footer button:hover{
    transform: scale(1.02); 
    transition: 0.3s;
    background-color: rgba(18, 128, 64, 0.691);
}
.menuButton button{
    float: right;
    margin-right: 6%;
    width: 400px;

}

.menuSection{
    margin-top: 30px;
}

.divOfIcon {
    margin-top: 37px;
}
.NumberOfDishes{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    margin-top: 0px;
}
.NumberOfDishes span:first-child{
    font-size: 60px;
    color: rgba(18, 128, 64, 0.691);
}
.NumberOfDishes span:last-child{
    font-size: 30px;
}
.NumberOfDishes span:last-child span{
    color: rgba(18, 128, 64, 0.691);
}
.DisheiImage{
    border-radius: 15px;
    margin-top: 40px;
}

.foodItems img{
    margin-top: 15px;
}
.Dishestitle{
    font-size: 60px;
}
.Dishestitle span{
    color: rgba(18, 128, 64, 0.691);
}
.item{
    font-size: 20px;
}
.item span:last-child{
    color: rgba(18, 128, 64);
}
.item .Dash{
    margin-left: 25px;
}
.item span:nth-child(2){
    color: rgba(18, 128, 64, 0.691);
    padding-left: 15px;
}
.item .line {
    width: 150px;
    border-bottom: 1px dashed rgba(18, 128, 64, 0.691); /* you can change color */
  }
.secondItem{
    font-size: 12px;
}
.secondItem span:first-child{
    margin-left: 51px;
    color: var(--grayText);
}
.secondItem span:last-child{
    margin-right: 27px;
    color: var(--grayText);
}
.allItems{
    line-height: 30px;
    margin-top: 70px;
}

 .galerieSection {
    margin-top: 15%;
  }

  .galerieTitle{
    margin-left: 5%;
  }
 

 .slides {
    width: 92%;
    margin: 8% auto;
  }
  .slides div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .slides img {
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
  }
  .slides img:hover{
    transform: scale(1.02);
    transition: 0.3s;
    opacity: 0.8 ;
  }


@media (max-width: 1200px) { 
    /*----------- sliders----------- */
    .slides{
        width: 100%;
        height: 100%;
    }
    .sildeImages{
        width: 250px;
        height: 250px;
    }
    .Tall_ImgSlide{
        width: 300px;
        height: 550px;
    }
    /*----------- sliders----------- */

    /*----------- HeroSection----------- */
    .HeroDescription{
        top: 12%;
    }
    .HeroDescription p{
        margin-left: -15%;
    }
    /*----------- HeroSection----------- */
    /*----------- menuSection----------- */
    .MainFoodItems h1{
        font-size: 37px;
    }
    .divOfIcon img{
        width: 90px;
        height: 90px;
        margin-top: 2%;
    }
    .NumberOfDishes span:first-child{
        font-size: 40px;
        margin-left: -2%;
    }
    .NumberOfDishes span:last-child{
        font-size: 26px;
        margin-left: -2%;
    }
    .DisheiImage{
        width: 350px;
        height: 500px;
    }
    .secondItem{
        font-size: 10px;
    }
    .secondItem span:first-child{
        margin-left: 5px;
    }
    .secondItem span:last-child{
        margin-right: 0px;
    }
    .allItems{
        margin-top: 100px;
    }
    .menuButton button{
        width: 360px;
    }
    /*----------- menuSection----------- */

}

@media (max-width: 963px) { 

    .HeroDescription h1{
        margin-left: -10%;
    }
    .HeroDescription button{
        margin-left: -18%;
    }
    .HeroDescription p{
        margin-left: -22%;
        font-size: 16px;
        width: 500px;
    }
    .menuSection{
        flex-direction: column;
        align-items: center;
    }
    .DisheiImage{
        width: 700px;
        height: 950px;
    }
    .MainFoodItems h1 {
        font-size: 60px;
        text-align: center;
    }
    .MainFoodItems{
        width: 700px;
        margin-top: 10%;
    }
    .item span:first-child{
        margin-left: -5%;
    }
    .secondItem span:first-child{
        margin-left: 5%;
    }
    .secondItem span:last-child{
        margin-right: 8%;
    }
    .divOfIcon{
        margin-top: 20%;
    }
    .menuButton{
        display: flex;
    }
    .menuButton > button{
        width: 700px; 
        margin: 5% auto;
    }


    .sildeImages{
        width: 180px;
        height: 180px;
    }

    .Tall_ImgSlide{
        width: 230px;
        height: 400px;
    }
}
@media (max-width: 768px) { 

    .DisheiImage{
        width: 480px;
        height: 650px;
    }
    .MainFoodItems{
        width: 500px;
    }
    .menuButton > button{
        width: 500px;
    }
    .slides{
        flex-direction: column;
        margin-bottom: 23%;
        align-items: center;
        height: 100%;
        gap: 40px;
    }
    .slides div{
        flex-direction: row;
        gap: 10px;
    }
    .sildeImages{
        width: 240px;
        height: 240px;
    }
    .Tall_ImgSlide{
        width: 490px;
        height: 200px;
    }

    .HeroDescription p{
        width: 250px;
        margin-left: 8%;
        font-size: 12px;
        
    }
    .HeroDescription h1{
        font-size: 52px;
    }
    .HeroDescription button{
        font-size: 16px;
    }
    
}
@media (max-width: 548px){
    .HeroDescription p{
        margin-left: -6%;
        
    }
    .HeroDescription h1{
        font-size: 42px;
    }
    .DisheiImage{
        width: 420px;
        height: 620px;
    }
    .MainFoodItems,.menuButton > button{
        width: 420px;
    }
    .sildeImages{
        width: 200px;
        height: 200px;
    }
    .Tall_ImgSlide{
        width: 400px;
        height: 200px;
    }
} 
@media (max-width: 425px){

    .DisheiImage{
        width: 360px;
        height: 620px;
    }
    .MainFoodItems,.menuButton > button{
        width: 360px;
    }
    .MainFoodItems .Dishestitle{
        font-size: 40px;
    }
    .slides{
        height: 100%;
        gap: 50px;
    }
    .sildeImages{
        width: 350px;
        height: 350px;
    }
    .Tall_ImgSlide{
        width: 350px;
        height: 350px;
    }
    .slides div{
        flex-direction: column;
    }
    .item{
        font-size: 14px;
        margin-left: 10px;        
    }
    .secondItem span:first-child{
        margin-left: 0;
    }
    .secondItem span:last-child{
        margin-right: 0;
    }
    .HeroDescription p{
        font-size: 10px;
        margin-left: -19%;
    }

}