body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}
.logo{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 30px;
    color: rgb(18, 128, 64);
    cursor: pointer;
}
.list{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-left: -300px;
    margin-top: 32px;
}
.list li{
    list-style-type: none;
}
.list li a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(18, 128, 64);
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    margin-left:10px;
    transition: 0.5s;
}
.list li a:hover{
    background-color: rgb(18, 128, 64);
    color: white;
    
}
.HeroSection {
    position: relative;
    width: 100%;
    height: 100vh; /* better than height="90%" */
}

.HeroSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HeroSection .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 39, 39, 0.6); /* use rgba instead of #29272785 */
}
.HeroDescription{
    position: absolute;
    width: 50%;
    top: 20%;
    left: 27%;
    color: white;
    text-align: center;
}
.HeroDescription h1{
    font-size: 65px;
}
.HeroDescription p{
    margin: 0 auto;
    width: 650px;
    font-size: 20px;
    line-height: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.HeroDescription button,.menuButton button,footer button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: rgb(18, 128, 64);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}
.HeroDescription button:hover,.menuButton button:hover,footer button:hover{
    transform: scale(1.02); 
    transition: 0.3s;
    background-color: rgba(18, 128, 64, 0.691);
}
.menuButton button{
    float: right;
    margin-right: 6%;
    width: 400px;

}

.menuSection{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.divOfIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.NumberOfDishes{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    margin-top: 0px;
}
.NumberOfDishes span:first-child{
    font-size: 60px;
    color: rgba(18, 128, 64, 0.691);
}
.NumberOfDishes span:last-child{
    font-size: 30px;
}
.NumberOfDishes span:last-child span{
    color: rgba(18, 128, 64, 0.691);
}
.DisheiImage{
    border-radius: 15px;
    margin-top: 40px;
}
.foodItems{
    display: flex;
    justify-content: space-between;
}
.foodItems img{
    margin-top: 15px;
}
.Dishestitle{
    font-size: 60px;
}
.Dishestitle span{
    color: rgba(18, 128, 64, 0.691);
}
.item{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.item span:last-child{
    color: rgba(18, 128, 64);
}
.item .Dash{
    margin-left: 25px;
}
.item span:nth-child(2){
    color: rgba(18, 128, 64, 0.691);
    padding-left: 15px;
}
.item .line {
    width: 150px;
    border-bottom: 1px dashed rgba(18, 128, 64, 0.691); /* you can change color */
  }
.secondItem{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.secondItem span:first-child{
    margin-left: 51px;
    color: #666666;
}
.secondItem span:last-child{
    margin-right: 27px;
    color: #666666;
}
.allItems{
    line-height: 30px;
    margin-top: 70px;
}

 .galerieSection {
    margin-top: 15%;
  }

  .galerieTitle{
    margin-left: 5%;
  }
 

 .slides {
    width: 92%;
    display: flex;
    justify-content: space-around;
    margin: 8% auto;
  }
  .slides div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .slides img {
    border-radius: 15px;
    object-fit: cover;
    cursor: pointer;
  }
  .slides img:hover{
    transform: scale(1.02);
    transition: 0.3s;
    opacity: 0.8 ;
  }
  footer{
    width: 100%;
    height: 80vh;
    background-color: #eee;
    border-radius: 40px;
    position: relative;
  }
  footer .footer{
    width: 90%;
    background-color: white;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50vh;
    border-radius: 30px;
    position: absolute;
    left: 5%;
    top: -10%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding-top: 5%;
  }
  .listFooter{
    display: flex;
    justify-content: space-around;
    gap: 50px;

  }
  .listFooter li{
    list-style-type: none;
}
.listFooter li a{
    text-decoration: none;
    color: black;
}
#ContactLabel{
    font-size: 18px; 
}
#Contact{
    width: 300px;
    padding: 3% 7%;
    border: none;
    outline: rgba(18, 128, 64, 0.691);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(18, 128, 64, 0.691);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10%;
}
footer button{
    margin-top: 10%;

}
/* .contactForm{
    margin-top: 15%;   

} */
